html, body.chakra-ui-light {
    background-color: #f2e8dd; /* Replace 'blue' with your desired color */
    margin: 0;
    padding: 0;
    height: 100%;
  }

form {
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.fixed-section {
  position: sticky !important;
  top: 0;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: auto;
}

.image-container:hover img {
  animation: playGif forwards;
}

.gif-image {
  display: none; /* Hide GIF by default */
}

.image-container:hover .gif-image {
  display: block; /* Show GIF on hover */
}
.image-container:hover .still-image {
  display: none; /* Hide still image on hover */
}

.horizontal-transition {
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out; /* Transition width instead of height */
}

/* Set the initial width to 0 when collapsed */
.horizontal-transition[aria-hidden="true"] {
  width: 0;
}

/* RoomComponent */
.room {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: auto;
  }

/* #videos {
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  margin: 50px;
} */
/*


.video {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

#localVideo {
  display: none;
}

#remoteVideo {
  display: none;
}


/* 
.controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  gap: 10px;
}

.controls button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: #0056b3;
}

.controls button:active {
  background-color: #004085;
} */

/*  */
#join-wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .video-player {
  background-color: #000000;
  border-radius: 50px;
  border: 1px solid #0306e0;
  overflow: auto;
  margin: 1em;
  position: absolute;
  width: 100%;
  height: 100%;
} */
#user-streams {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 1em;
}
.video-player {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.video-player.small {
  position: relative;
  border-radius: 20%;
  z-index: 2;
  width: calc(25% - 20px);
  height: 35%; 
  bottom: 0;
  right: 0; 
} 
.video-player.large {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#username{
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    border:none;
    margin: 10px;
}

.volume-icon{
    height:20px;
    width:20px;
}

#join-btn {

    background-color: #1f1f1f8e;
    border: none;
    color: #fff;
    font-size: 22px;
    padding: 20px 30px;
    cursor: pointer;
}





.video-containers {
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: #1f1f1f8e;
    border-radius: 10px;

}

.user-uid {
    display: flex;
    align-items: center;
    column-gap: 1em;
    background-color: #1f1f1f8e;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    margin: 0;
    font-size: 18px;
}


#foot{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    column-gap: 1em;
    width: 100%;
    height: 100px;
    z-index: 9999;
}

.icon-wrapper {
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.control-icon {
    display: block;
    padding: 15px;
    background-color: #1f1f1f8e;
    height: 30px;
    width: 30px;
    border-radius: 10px;
}


@media screen and (max-width:1400px) {
    main {
        width: 90%;
        margin: 0 auto;
    }
}

#mic-btn, #camera-btn, #leave-btn {
    background-color: #1f1f1f8e;
    border: none;
    color: #fff;
    font-size: 22px;
    padding: 20px 30px;
    cursor: pointer;
}