html, body.chakra-ui-light {
    background-color: #f2e8dd; /* Replace 'blue' with your desired color */
    margin: 0;
    padding: 0;
    height: 100%;
  }

form {
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}
span {
  text-decoration: underline;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: auto;
}

.image-container:hover img {
  animation: playGif forwards;
}

.gif-image {
  display: none; /* Hide GIF by default */
}

.image-container:hover .gif-image {
  display: block; /* Show GIF on hover */
}
.image-container:hover .still-image {
  display: none; /* Hide still image on hover */
}
