html, body.chakra-ui-light {
    background-color: #f2e8dd; /* Replace 'blue' with your desired color */
    margin: 0;
    padding: 0;
    height: 100%;
  }

form {
    margin: 50px;
}
span {
  text-decoration: underline;
}